---
layout: default
title: experience
navigation: true
---

<section class="experiences__summary">
  <span class="experiences__label decorate">tl:dr</span>
  <p class="experiences__summary-content">
    I have roughly <span class="experience-count">{{ site.experienceStartDate | timeago }}</span> of
    commercial front-end developer experience after 6 years of work in project and PR management.
    Previous profession left me with good communication skills and understanding of broader business context of developer work. 
    I have a lot of experience in designing and implementing workable strategies of modernisation of big legacy codebases.
    I keep up to date with modern front-end technologies and strive to write clean, maintanable code. 
  </p>
  <div class="experiences__technologies tags-collection">
    {% for technology in site.data.technologies %}
    <span class="experiences__technology tag decorate-word">{{ technology }}</span>
    {% endfor %}
  </div>
</section>

{% assign experiences = site.experiences_list | sort: 'startDate' | reverse %}

<section class="experiences__list">
  <span class="experiences__label decorate">details</span>
  {% for experience in experiences %}
    {% if experience.dev %}
      {{ experience }}
    {% endif %}
  {% endfor %}
</section>

<span class="experiences__final-word section__final-word">
  See more detailed info about my pre-developer
  experiences and education on my {% include icon-linkedin.html %}
</span>
