<div class="wrapper footer">
  <span class="footer__contact-label decorate">contact:</span>
  <ul class="footer__contact-list">
    <li class="footer__contact-list-item">
      {% include icon-mail.html %}
    </li>
    <li class="footer__contact-list-item">
      {% include icon-github.html %}
    </li>
    <li class="footer__contact-list-item">
      {% include icon-twitter.html %}
    </li>
    <li class="footer__contact-list-item">
      {% include icon-linkedin.html %}
    </li>
  </ul>
</div>
