.experiences {
  &__list {
    margin-top: 20px;
  }
  &__label {
    font-size: 1.2em;
    font-weight: bold;
  }
  &__summary-content {
    padding: 20px 0;
  }
  &__technologies {
    padding: 20px 0;
  }
}
