---
layout: default
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <main id="main" class="page">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
    <script
      type="text/javascript"
      src={{ "/assets/js/bundle.js" | relative_url }}
      charset="utf-8"
      data-no-instant
    ></script>
    <script data-no-instant>
      // greet("piotr")
    </script>
  </body>
</html>
