<div class="project grid">
  <div class="project__content small-section">
    <h2 class="project__header small-section__header">
      {{ page.title }}
    </h2>
    <span class="project__date small-section__meta">
      {{ page.creationDate }}
    </span>
    <p class="project__desc">{{ page.content }}</p>
  </div>
  <div class="project__image-wrp">
    <a href="{{ page.www }}" target="_blank" title="{{ page.title }}">
      <img
        class="project__image"
        src="{{ site.url }}/assets/images/{{ page.image }}"
        alt="{{ page.title }}"
      >
    </a>
  </div>
</div>
