.icon--mail {
  &:hover {
    color: $colorDeco1;
  }
}
.icon--github {
  &:hover {
    color: $colorDeco2;
  }
}
.icon--twitter {
  &:hover {
    color: $colorDeco3;
  }
}
.icon--linkedin {
  &:hover {
    color: $colorDeco1;
  }
}
