.addColors {
  .decorate0 {
    color: $colorDeco1;
    transition: color 500ms;
  }
  .decorate1 {
    color: $colorDeco2;
    transition: color 500ms;
    transition-delay: 1s;
  }
  .decorate2 {
    color: $colorDeco3;
    transition: color 500ms;
    transition-delay: 2s;
  }
}
